.Profile-page {
  /* height: calc(100vh - 72px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.profile-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.profile-card {
  box-shadow: -10px 11px 0px rgba(0, 0, 0, 0.5);
  min-height: 200px;
}

/* .userQuiz-card {
  transition: transform 0.25s ease;
}

.userQuiz-card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
} */

.userQuiz-card {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.userQuiz-card:hover,
.userQuiz-card:focus,
.userQuiz-card:active {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
