.Register-page {
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.register-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
