/* .quiz-Card {
  background-color: #f22b1e;
  height: 20rem;
  width: 25rem;
  box-shadow: -10px 11px 0px rgba(0, 0, 0, 0.5);
} */

.Pick-title {
  text-shadow: -8px 5px 0px rgba(0, 0, 0, 0.6);
}

.quiz-Container {
  align-items: center;
  justify-content: center;
}

.quiz-Card {
  background-color: #f22b1e !important;
  height: 20rem;
  width: 25rem;
  box-shadow: -10px 11px 0px rgba(0, 0, 0, 0.5);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.quiz-Card:hover,
.quiz-Card:focus,
.quiz-Card:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
